n8n/01-telegram-optin.json
{
  "name": "itscontentflow — 01 Telegram opt-in",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "tg-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "credentials": {
        "telegramApi": { "name": "webinar_M_bot" }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.message || {};\nconst text = (msg.text || '').trim();\nconst parts = text.split(/\\s+/);\nconst startParam = parts[0] === '/start' ? (parts[1] || '') : '';\nconst uuidRe = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nconst hasLead = uuidRe.test(startParam);\nreturn [{ json: {\n  chat_id: msg.chat && msg.chat.id,\n  first_name: (msg.chat && msg.chat.first_name) || (msg.from && msg.from.first_name) || '',\n  lead_id: hasLead ? startParam : '',\n  has_lead: hasLead\n} }];"
      },
      "id": "parse-start",
      "name": "Parse start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-lead-cond",
              "leftValue": "={{ $json.has_lead }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-lead",
      "name": "Has lead_id?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://coxzeqtgtokfsrfnzxwn.supabase.co/rest/v1/webinar_leads?id=eq.{{ $json.lead_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"tg_chat_id\": {{ $json.chat_id }}, \"tg_connected_at\": \"{{ $now.toISO() }}\" }",
        "options": {}
      },
      "id": "supabase-update",
      "name": "Link tg_chat_id",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 200],
      "credentials": {
        "supabaseApi": { "name": "Supabase Beyond Promts (service_role)" }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse start').item.json.chat_id }}",
        "text": "=✅ You're connected{{ $('Parse start').item.json.first_name ? ', ' + $('Parse start').item.json.first_name : '' }}! I'll send your join link and a heads-up right before we go live. See you there 👋",
        "additionalFields": {}
      },
      "id": "tg-confirm",
      "name": "Confirm in Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1160, 200],
      "credentials": {
        "telegramApi": { "name": "webinar_M_bot" }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse start').item.json.chat_id }}",
        "text": "👋 This is the reminders bot for the free live workshop “Your AI has never met your client.”\n\nTo get your reminders here, first save your seat on the site — then tap the Telegram button on the confirmation screen:\n👉 https://webinar.itscontentflow.com",
        "additionalFields": {}
      },
      "id": "tg-noreg",
      "name": "Ask to register",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [920, 420],
      "credentials": {
        "telegramApi": { "name": "webinar_M_bot" }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Parse start", "type": "main", "index": 0 }]] },
    "Parse start": { "main": [[{ "node": "Has lead_id?", "type": "main", "index": 0 }]] },
    "Has lead_id?": {
      "main": [
        [{ "node": "Link tg_chat_id", "type": "main", "index": 0 }],
        [{ "node": "Ask to register", "type": "main", "index": 0 }]
      ]
    },
    "Link tg_chat_id": { "main": [[{ "node": "Confirm in Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
