n8n/02-reminders-cron.json
{
  "name": "itscontentflow — 02 Reminders cron (Telegram + Email)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 15 }] }
      },
      "id": "schedule",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 320]
    },
    {
      "parameters": {
        "url": "=https://coxzeqtgtokfsrfnzxwn.supabase.co/rest/v1/webinars?select=*&starts_at=gt.{{ $now.minus({ minutes: 30 }).toUTC().toISO() }}&order=starts_at.asc&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "get-webinar",
      "name": "Get next webinar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 320],
      "credentials": {
        "supabaseApi": { "name": "Supabase Beyond Promts (service_role)" }
      }
    },
    {
      "parameters": {
        "jsCode": "const w = $input.first() ? $input.first().json : null;\nif (!w || !w.starts_at) { return []; }\nconst start = new Date(w.starts_at).getTime();\nconst mins = (start - Date.now()) / 60000;\nconst link = w.join_url || '';\nconst hasLink = /^https?:/i.test(link);\nconst ld = hasLink ? link : '(link coming soon)';\nconst button = hasLink\n  ? `<p style='margin:26px 0;'><a href='${link}' style='display:inline-block;background:#4456BE;color:#ffffff;text-decoration:none;padding:13px 26px;border-radius:6px;font-weight:600;'>Join the workshop</a></p>`\n  : `<p style='margin:22px 0;color:#888888;'>Your join link will arrive here right before we start.</p>`;\nconst wrap = (intro) => `<div style='font-family:-apple-system,Segoe UI,Roboto,Arial,sans-serif;font-size:16px;line-height:1.6;color:#1a1a1a;max-width:520px;margin:0 auto;'><p>Hi {NAME},</p><p>${intro}</p>${button}<p style='color:#555555;margin-top:24px;'>See you there,<br><strong>Maria</strong></p></div>`;\nlet step=null, message=null, emailSubject=null, emailText=null, emailHtml=null;\nif (mins <= 1440 && mins > 180) {\n  step='day_before';\n  message=`⏰ Reminder: \"${w.title}\" is tomorrow at {TIME}.\\nSave the link: ${ld}`;\n  emailSubject=`Tomorrow: ${w.title}`;\n  emailText=`Hi {NAME},\\n\\nQuick reminder — \"${w.title}\" is tomorrow at {TIME}.\\n\\nJoin: ${ld}\\n\\nSee you there,\\nMaria`;\n  emailHtml=wrap(`Quick reminder — the workshop <strong>&ldquo;${w.title}&rdquo;</strong> is <strong>tomorrow at {TIME}</strong>.`);\n} else if (mins <= 180 && mins > 60) {\n  step='soon_3h';\n  message=`📌 Today! \"${w.title}\" goes live at {TIME}.\\nJoin: ${ld}`;\n  emailSubject=`Today at {TIME}: ${w.title}`;\n  emailText=`Hi {NAME},\\n\\nWe go live today at {TIME}.\\n\\nJoin: ${ld}\\n\\nSee you soon,\\nMaria`;\n  emailHtml=wrap(`We go live <strong>today at {TIME}</strong>.`);\n} else if (mins <= 60 && mins > 15) {\n  step='hour_before';\n  message=`🔔 We go live in about an hour, at {TIME}.\\nJoin: ${ld}`;\n  emailSubject=`Starting in about an hour`;\n  emailText=`Hi {NAME},\\n\\nWe go live in about an hour, at {TIME}.\\n\\nJoin: ${ld}\\n\\nMaria`;\n  emailHtml=wrap(`We go live in <strong>about an hour</strong>, at {TIME}.`);\n} else if (mins <= 15 && mins > 0) {\n  step='fifteen_min';\n  message=`🚀 Starting in ~15 minutes! Grab a pen.\\nJoin now: ${ld}`;\n  emailSubject=`We start in ~15 minutes`;\n  emailText=`Hi {NAME},\\n\\nWe go live in about 15 minutes. Grab a pen.\\n\\nJoin now: ${ld}\\n\\nMaria`;\n  emailHtml=wrap(`We go live in <strong>about 15 minutes</strong>. Grab a pen.`);\n} else if (mins <= 0 && mins > -20) {\n  step='live';\n  message=`🔴 We're LIVE now — come in!\\n${ld}`;\n  emailSubject=`We're live now`;\n  emailText=`Hi {NAME},\\n\\nWe just went live — come on in:\\n${ld}\\n\\nMaria`;\n  emailHtml=wrap(`We&rsquo;re <strong>live now</strong> — come on in.`);\n}\nif (!step) { return []; }\nreturn [{ json: { slug:w.slug, title:w.title, starts_at:w.starts_at, join_url:link, step, message, emailSubject, emailText, emailHtml } }];"
      },
      "id": "compute-step",
      "name": "Compute due step",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 320]
    },
    {
      "parameters": {
        "url": "=https://coxzeqtgtokfsrfnzxwn.supabase.co/rest/v1/webinar_leads?select=id,first_name,timezone,tg_chat_id&webinar_slug=eq.{{ $json.slug }}&tg_chat_id=not.is.null&tg_sent=not.cs.%7B{{ $json.step }}%7D",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "get-tg-leads",
      "name": "Get TG leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 180],
      "credentials": {
        "supabaseApi": { "name": "Supabase Beyond Promts (service_role)" }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_chat_id }}",
        "text": "={{ $('Compute due step').first().json.message.replace('{TIME}', DateTime.fromISO($('Compute due step').first().json.starts_at, { zone: 'utc' }).setZone($json.timezone || 'UTC').toFormat('ccc d LLL, HH:mm (ZZZZ)')) }}",
        "additionalFields": {}
      },
      "id": "send-tg",
      "name": "Send Telegram reminder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1060, 180],
      "credentials": {
        "telegramApi": { "name": "webinar_M_bot" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://coxzeqtgtokfsrfnzxwn.supabase.co/rest/v1/rpc/mark_tg_step",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_lead\": \"{{ $('Get TG leads').item.json.id }}\", \"p_step\": \"{{ $('Compute due step').first().json.step }}\" }",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "mark-tg",
      "name": "Mark TG step sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 180],
      "credentials": {
        "supabaseApi": { "name": "Supabase Beyond Promts (service_role)" }
      }
    },
    {
      "parameters": {
        "url": "=https://coxzeqtgtokfsrfnzxwn.supabase.co/rest/v1/webinar_leads?select=id,first_name,timezone,email&webinar_slug=eq.{{ $json.slug }}&email=not.is.null&email_sent=not.cs.%7B{{ $json.step }}%7D",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "get-email-leads",
      "name": "Get email leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 460],
      "credentials": {
        "supabaseApi": { "name": "Supabase Beyond Promts (service_role)" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"from\": \"Maria <maria@send.itscontentflow.com>\", \"to\": [{{ JSON.stringify($json.email) }}], \"subject\": {{ JSON.stringify($('Compute due step').first().json.emailSubject.replace('{TIME}', DateTime.fromISO($('Compute due step').first().json.starts_at, { zone: 'utc' }).setZone($json.timezone || 'UTC').toFormat('ccc d LLL, HH:mm (ZZZZ)'))) }}, \"html\": {{ JSON.stringify($('Compute due step').first().json.emailHtml.replace('{NAME}', $json.first_name || 'there').replace('{TIME}', DateTime.fromISO($('Compute due step').first().json.starts_at, { zone: 'utc' }).setZone($json.timezone || 'UTC').toFormat('ccc d LLL, HH:mm (ZZZZ)'))) }}, \"text\": {{ JSON.stringify($('Compute due step').first().json.emailText.replace('{NAME}', $json.first_name || 'there').replace('{TIME}', DateTime.fromISO($('Compute due step').first().json.starts_at, { zone: 'utc' }).setZone($json.timezone || 'UTC').toFormat('ccc d LLL, HH:mm (ZZZZ)'))) }} }",
        "options": {}
      },
      "id": "send-resend",
      "name": "Send email (Resend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 460],
      "credentials": {
        "httpHeaderAuth": { "name": "Resend API" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://coxzeqtgtokfsrfnzxwn.supabase.co/rest/v1/rpc/mark_email_step",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_lead\": \"{{ $('Get email leads').item.json.id }}\", \"p_step\": \"{{ $('Compute due step').first().json.step }}\" }",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "mark-email",
      "name": "Mark email step sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 460],
      "credentials": {
        "supabaseApi": { "name": "Supabase Beyond Promts (service_role)" }
      }
    }
  ],
  "connections": {
    "Every 15 min": { "main": [[{ "node": "Get next webinar", "type": "main", "index": 0 }]] },
    "Get next webinar": { "main": [[{ "node": "Compute due step", "type": "main", "index": 0 }]] },
    "Compute due step": {
      "main": [[
        { "node": "Get TG leads", "type": "main", "index": 0 },
        { "node": "Get email leads", "type": "main", "index": 0 }
      ]]
    },
    "Get TG leads": { "main": [[{ "node": "Send Telegram reminder", "type": "main", "index": 0 }]] },
    "Send Telegram reminder": { "main": [[{ "node": "Mark TG step sent", "type": "main", "index": 0 }]] },
    "Get email leads": { "main": [[{ "node": "Send email (Resend)", "type": "main", "index": 0 }]] },
    "Send email (Resend)": { "main": [[{ "node": "Mark email step sent", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
